nav{
	margin-bottom: 40px;
}

section{
	float: left;
	margin-top: 10px;
	padding-bottom: 20px;
}
aside{
	float: right;
	margin-top: 10px;
}
aside li{
	text-align: right;
	margin-bottom: 30px;
}
#logo{
	float: left;
	margin-top: 10px;
}
#top{
	float: right;
	margin: 30px 20px 0 0;
}
#sub1 img:hover{
	box-shadow: 5px 5px 10px gray;
	transform: translate(5px, 5px);
}
#sub1 li{
	display: inline-block;
	text-align: center;
	padding-right: 20px;
}
#sub2 img{
	width: 80px;
	height: 80px;
	border-radius: 50% 50%
}
#sub2 li{
	display: inline-block;
	padding-right: 20px;
	text-align: center;
	width: 160px;
}
#sub2 img:hover{
	transform: scale(1.1);
}
#sub3 li{
	display: inline-block;
	padding-right: 16px;
	overflow: hidden;
}
#sub3 img{
	width: 250px;
	height: 180px;
	display: block;
}
#sub3 img:hover{
	transform: scale(1.1);
	transition: transform 1s;
}